.none {
    text-decoration: none;
    color: white;
}
.none:hover {
    color: yellow;
}

a:hover,
a:active,
a.active {
    
    color: yellow;
    padding-bottom: 0.25rem ;
    border-bottom: 4px solid yellow  ;
}         